<h1> Bookmarks Manager <h1>

<!-- <a href="/bookmarks" >
  <button type='button'> View Bookmarks</button>
</a> -->
<form action="/bookmarks" method="GET">
  <input type="submit" value="View Bookmarks"> </input>
</form>

<!-- <a href="/bookmarks/new" >
  <button type='button'> Create New Link</button>
</a> -->

<form action="/bookmarks/new">
  <input type="submit" value="Create New Link"> </input>
</form>
