<form action="/savelink" method="POST">
   <label for='title'><strong>Title:</strong></label>
  Title: <input type='text' name='title'><br>
  <label for='url'><strong>Url:</strong></label>
  Url: <input type='text' name='url'><br>
  <input type="submit" value="Submit"> </input>
</form>
