<!-- <form action="/tag" method="post">
  <input type="Submit" value="Tag"> </input>
</form> -->

<!-- <form action='/tag' method='post'>
  <label for='tag'><strong>Tag Name:</strong></label>
  <input type='text' name='tag'>
  <input type="submit" value="Submit"> </input>
</form> -->
